.container {
  padding: 20px 30px;
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #ddd;
  margin: 40px auto;
  width: 40%;
}

label {
  display: block;
}

input,
textarea {
  width: 100%;
  height: 35px;
  margin: 7px 0;
  border: 1px solid #ddd;
}

textarea {
  height: 70px;
}

button{
  width: 150px;
  padding: 15px;
  background-color: rgba(84, 157, 235, 0.281);
  border: none;
  border-radius: 10px;
}